    {% extends "base.html" %}

    {% block content %}
        <div id="content">
            <h1 style="text-align: center">{{ page_title }}</h1>
            <div class="ads">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                    {{ message }}<br>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}

                {% for ad in ads_list.items %}
                <div class="ad">
                    <!-- ads.url и ads.title - ссылка на объявление и его  заголовок  -->
                    <div class="ad_photo" data-marker="item-photo">
                        <!-- img.src - ссылка на картинку -->
                        <img src="{{ ad.first_image_src }}" />
                    </div>
                    <div class="ad_data">
                        <h3>{{ ad.title }}</h3>
                        <span>{{'Цена: ' + ad.price|string  + ' ₽' }}</span><br>
                         <span class="adr">{{ ad.address}}</span><br>
                        <!-- ads.published - дата публикации -->
                        <span>{{ ad.published.strftime("%d.%m.%Y %H:%M") }}</span>
                    </div>
                </div>
                <hr />
                {% endfor %}
                <!-- экспериментируем с пагинацией -->
                <div class="pag_exp">
                    <h6>prev_num = {{ ads_list.prev_num }}</h6>
                    <h6>next_num = {{ ads_list.next_num }}</h6>
                </div>
                <div class="pagination">
                    {% if ads_list.has_prev %}<a href="{{ url_for('ads.index', page = ads_list.prev_num) }}">
                        << Назад</a>{% else %}<< Назад{% endif %} | {% if ads_list.has_next %}<a href="{{ url_for('ads.index', page = ads_list.next_num) }}">Вперёд >>
                    </a>{% else %}Вперёд >>{% endif %}
                </div>
            </div>
        </div>
    {% endblock %}